*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-bg-color: rgba(255, 255, 255, 0.15);
  --card-heading-color: #30d97b;
  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-regular: 16px;
  --font-small: 0.5rem;
  --font-regular: 1rem;
  --font-large: 2rem;
  --font-xlarge: 3.5rem;
  --font-semibold: 600;
}

body {
  background-color: rgb(255, 255, 255);
  padding-block: var(--spacing-regular);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: var(--spacing-regular) auto;
}

.container,
.container > article {
  border-radius: var(--spacing-medium);
  padding: var(--spacing-regular);
}

.container > article {
  box-shadow: 2px 2px 3.5px rgba(45, 52, 54, 0.3);
  background-color: var(--card-bg-color);
}

.container article > h1 {
  color: var(--card-heading-color);
}

.container article > h1,
.container article > h2,
.container article > p {
  margin-block: var(--spacing-regular);
}

.container {
  box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "search search"
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
  gap: var(--spacing-regular);
}

.container #search-container {
  grid-area: search;
}

.container #search {
  width: 100%;
  background-color: transparent;
  padding: var(--spacing-small);
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
  border: none;
  border-radius: 8px;
  outline: none;
}

#search,
#current-forecast,
#hourly-forecast,
#feels-like,
#humidity {
  text-align: center;
}

#current-forecast {
  grid-area: current;
}

#current-forecast .temp {
  font-size: var(--font-xlarge);
}

#current-forecast .change-temp-unit-btn {
  cursor: pointer;
  background-color: transparent;
  padding: 0.8rem 1.3rem;
  color: var(--card-heading-color);
  outline: none;
  border: 1px solid var(--card-heading-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

#current-forecast .desc {
  text-transform: capitalize;
}

#current-forecast .wind-speed-dir,
#current-forecast .desc,
#current-forecast .min-max-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

#hourly-forecast {
  grid-area: hourly;
}

#hourly-forecast #hourly-container {
  display: grid;
  grid-template-columns: repeat(auto, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(100px, 1fr);
  overflow-x: auto;
  gap: var(--spacing-medium);
}

#hourly-forecast #hourly-container .time,
#hourly-forecast #hourly-container .temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

#hourly-forecast #hourly-container .icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

#five-day-forecast {
  grid-area: fiveday;
  text-align: center;
}

#five-day-forecast .five-day-forecast-container {
  display: grid;
  grid-auto-flow: row;
}

.five-day-forecast-container .day-wise-forecast {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: var(--spacing-regular);
  place-items: center;
}

.five-day-forecast-container .day-wise-forecast h3 {
  text-transform: capitalize;
  justify-self: start;
}

.five-day-forecast-container .day-wise-forecast .min-temp {
  opacity: 50%;
}

.five-day-forecast-container .day-wise-forecast .max-temp {
  justify-self: end;
}

.five-day-forecast-container .day-wise-forecast .min-temp,
.five-day-forecast-container .day-wise-forecast .max-temp {
  font-size: var(--font-regular);
  font-weight: var(--font-semibold);
}

.five-day-forecast-container .day-wise-forecast .icon {
  width: 75px;
  height: 75px;
}

#feels-like {
  grid-area: feelslike;
}

#humidity {
  grid-area: humidity;
}

/* media queries */
@media screen and (min-width: 650px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "search search search search"
      "current current current current"
      "hourly hourly fiveday fiveday"
      "feelslike humidity fiveday fiveday";
  }
}
